body{
  background:#06142e;
  color:white;
  font-family:Arial;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.container{
  background:#0f1f45;
  padding:40px;
  border-radius:20px;
  width:350px;
  text-align:center;
  box-shadow:0 0 20px #ffd700;
}

input{
  width:100%;
  padding:12px;
  margin:10px 0;
  border:none;
  border-radius:10px;
}

button{
  background:#ffd700;
  border:none;
  padding:12px 20px;
  border-radius:10px;
  cursor:pointer;
  font-weight:bold;
}

#result{
  margin-top:20px;
  font-size:18px;
}
